## Model Validation Lesson

Model validation is the evaluation of prediction accuracy

From the previous lessons the model validation was done against the training data which is a bad practice

In [2]:
from sklearn.metrics import mean_absolute_error
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

In [4]:
melbourne_file_path = '../input/melb_data.csv'

melbourne_data = pd.read_csv(melbourne_file_path)

melbourne_data.describe()

In [6]:
melbourne_data.head(5)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [7]:
# target variable to be predicted
y = melbourne_data['Price']

In [9]:
# input variables to the model for prediction
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = melbourne_data[melbourne_features]

In [11]:
melbourne_model = DecisionTreeRegressor(random_state=1)
melbourne_model.fit(X,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

### The Mean Absolute Error (MAE)

In [17]:
predicted_home_prices = melbourne_model.predict(X)

In [18]:
mean_absolute_error(y, predicted_home_prices)

1125.1804614629357

In [15]:
print("\nMaking predictions for the following 5 houses:\n")
print(X.head())
print("\nThe predictions are\n")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941

The predictions are

[1480000. 1035000. 1465000.  850000. 1600000.]

In [16]:
list(melbourne_data['Price'])[0:5]

[1480000.0, 1035000.0, 1465000.0, 850000.0, 1600000.0]

### Splitting data into training and testing data

In [28]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=0)

In [29]:
melbourne_model = DecisionTreeRegressor()
melbourne_model.fit(train_X, train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [26]:
val_predictions = melbourne_model

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
664        3       2.0     368.0  -37.78460   145.09350
3270       2       1.0     586.0  -37.74350   145.04860
3873       2       1.0     348.0  -37.86720   145.04320
13170      3       1.0     521.0  -37.63854   145.05179
1730       4       2.0     687.0  -37.89310   145.04790
...      ...       ...       ...        ...         ...
13123      3       1.0     212.0  -37.77695   144.95785
3264       3       1.0     748.0  -37.74160   145.04810
9845       4       2.0     441.0  -37.73572   144.97256
10799      3       1.0     606.0  -37.72057   145.02615
2732       4       2.0     319.0  -37.79430   144.88750

[10185 rows x 5 columns]