# getting-started-with-sql-and-bigquery lesson 1
#### The First lesson on SQL from Kaggle

#### Set Up Environment for Google BigQuery

#### First Lesson is Accessing and Examining BigQuery Data Set

In [1]:
from google.cloud import bigquery

In [2]:
client = bigquery.Client.from_service_account_json("../../gkeys/package-lock.json")

In [3]:
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

In [4]:
dataset = client.get_dataset(dataset_ref)

#### Dataset

Dataset is the collection of tables
`list_tables()` method to list the tables in the dataset

In [5]:
tables = list(client.list_tables(dataset))

In [9]:
[table_ref.table_id for table_ref in tables]

['comments', 'full', 'full_201510', 'stories']

this dataset has four tables -> 'comments', 'full', 'full_201510', 'stories'

each table has coloums and rows

In [10]:
table_ref = dataset_ref.table("full")

table = client.get_table(table_ref)

#### Table Schema

table schema is the structure of the table -> how is data organised in the table so we can know how to retrieve it

In [13]:
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', ()),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", ()),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', ()),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', ()),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ())]

In [30]:
client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,When I see people doing something harmful to t...,None,mahmud,NaN,1300808296,2011-03-22 15:38:16+00:00,comment,2354854,2354797.0,NaN,None,None
1,None,None,None,None,None,NaN,1429311717,2015-04-17 23:01:57+00:00,story,9397663,NaN,NaN,None,True
2,None,None,"Yeah, I was kind off worries when they talked ...",None,NKCSS,NaN,1383298813,2013-11-01 09:40:13+00:00,comment,6652702,6649387.0,NaN,None,None
3,Inside the Canadian cities where minorities ar...,https://www.theguardian.com/cities/2018/sep/04...,None,None,tim_sw,1.0,1536517727,2018-09-09 18:28:47+00:00,story,17947106,NaN,0.0,None,None
4,EFF Demands Moroccan Authorities Drop Charges ...,https://www.eff.org/deeplinks/2015/11/eff-dema...,None,None,DiabloD3,1.0,1447797119,2015-11-17 21:51:59+00:00,story,10584238,NaN,0.0,None,None

### Exercise Starts Here

In [31]:
%reset -f

In [7]:
from google.cloud import bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="../../gkeys/wizro0-d246e2d1dcae.json"

client = bigquery.Client()

In [8]:
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

In [9]:
dataset = client.get_dataset(dataset_ref)

In [10]:
tables = client.list_tables(dataset)
tables_list = [table_ref.table_id for table_ref in tables]

In [11]:
tables_list

['crime']

In [12]:
num_of_tables = len(list(client.list_tables(dataset)))

In [13]:
num_of_tables

1

In [19]:
table_ref = dataset_ref.table('crime')

In [20]:
table = client.get_table(table_ref)

In [29]:
table.schema

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', 'Unique identifier for the record.', ()),
 SchemaField('case_number', 'STRING', 'NULLABLE', 'The Chicago Police Department RD Number (Records Division Number), which is unique to the incident.', ()),
 SchemaField('date', 'TIMESTAMP', 'NULLABLE', 'Date when the incident occurred. this is sometimes a best estimate.', ()),
 SchemaField('block', 'STRING', 'NULLABLE', 'The partially redacted address where the incident occurred, placing it on the same block as the actual address.', ()),
 SchemaField('iucr', 'STRING', 'NULLABLE', 'The Illinois Unifrom Crime Reporting code. This is directly linked to the Primary Type and Description. See the list of IUCR codes at https://data.cityofchicago.org/d/c7ck-438e.', ()),
 SchemaField('primary_type', 'STRING', 'NULLABLE', 'The primary description of the IUCR code.', ()),
 SchemaField('description', 'STRING', 'NULLABLE', 'The secondary description of the IUCR code, a subcategory of the primary description.', ()),
 SchemaField('location_description', 'STRING', 'NULLABLE', 'Description of the location where the incident occurred.', ()),
 SchemaField('arrest', 'BOOLEAN', 'NULLABLE', 'Indicates whether an arrest was made.', ()),
 SchemaField('domestic', 'BOOLEAN', 'NULLABLE', 'Indicates whether the incident was domestic-related as defined by the Illinois Domestic Violence Act.', ()),
 SchemaField('beat', 'INTEGER', 'NULLABLE', 'Indicates the beat where the incident occurred. A beat is the smallest police geographic area – each beat has a dedicated police beat car. Three to five beats make up a police sector, and three sectors make up a police district. The Chicago Police Department has 22 police districts. See the beats at https://data.cityofchicago.org/d/aerh-rz74.', ()),
 SchemaField('district', 'INTEGER', 'NULLABLE', 'Indicates the police district where the incident occurred. See the districts at https://data.cityofchicago.org/d/fthy-xz3r.', ()),
 SchemaField('ward', 'INTEGER', 'NULLABLE', 'The ward (City Council district) where the incident occurred. See the wards at https://data.cityofchicago.org/d/sp34-6z76.', ()),
 SchemaField('community_area', 'INTEGER', 'NULLABLE', 'Indicates the community area where the incident occurred. Chicago has 77 community areas. See the community areas at https://data.cityofchicago.org/d/cauq-8yn6.', ()),
 SchemaField('fbi_code', 'STRING', 'NULLABLE', "Indicates the crime classification as outlined in the FBI's National Incident-Based Reporting System (NIBRS). See the Chicago Police Department listing of these classifications at http://gis.chicagopolice.org/clearmap_crime_sums/crime_types.html.", ()),
 SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', 'The x coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.', ()),
 SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', 'The y coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.', ()),
 SchemaField('year', 'INTEGER', 'NULLABLE', 'Year the incident occurred.', ()),
 SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', 'Date and time the record was last updated.', ()),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', 'The latitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.', ()),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', 'The longitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.', ()),
 SchemaField('location', 'STRING', 'NULLABLE', 'The location where the incident occurred in a format that allows for creation of maps and other geographic operations on this data portal. This location is shifted from the actual location for partial redaction but falls on the same block.', ())]

 ### Schemafield is not iterable, how to get the attributes of a schema field

In [33]:
# Take too long to complete executing
# client.list_rows(table).to_dataframe()