# choosing-plot-types-and-custom-styles

# Exercise 
No real exercises here

In [1]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
spotify_filepath = "../input/data-for-datavis/spotify.csv"

spotify_data  = pd.read_csv(spotify_filepath)

In [3]:
spotify_data.head()

,Date,Shape of You,Despacito,Something Just Like This,HUMBLE.,Unforgettable
0,2017-01-06,12287078,NaN,NaN,NaN,NaN
1,2017-01-07,13190270,NaN,NaN,NaN,NaN
2,2017-01-08,13099919,NaN,NaN,NaN,NaN
3,2017-01-09,14506351,NaN,NaN,NaN,NaN
4,2017-01-10,14275628,NaN,NaN,NaN,NaN

In [4]:
for col in spotify_data.columns:
    print(col)

Date
Shape of You
Despacito
Something Just Like This
HUMBLE.
Unforgettable

In [5]:
spotify_data

,Date,Shape of You,Despacito,Something Just Like This,HUMBLE.,Unforgettable
0,2017-01-06,12287078,NaN,NaN,NaN,NaN
1,2017-01-07,13190270,NaN,NaN,NaN,NaN
2,2017-01-08,13099919,NaN,NaN,NaN,NaN
3,2017-01-09,14506351,NaN,NaN,NaN,NaN
4,2017-01-10,14275628,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
361,2018-01-05,4492978,3450315.0,2408365.0,2685857.0,2869783.0
362,2018-01-06,4416476,3394284.0,2188035.0,2559044.0,2743748.0
363,2018-01-07,4009104,3020789.0,1908129.0,2350985.0,2441045.0
364,2018-01-08,4135505,2755266.0,2023251.0,2523265.0,2622693.0
365,2018-01-09,4168506,2791601.0,2058016.0,2727678.0,2627334.0

In [6]:
spotify_data = pd.read_csv(spotify_filepath, index_col="Date", parse_dates=True)