In [8]:
import pandas as pd
pd.set_option('max_rows', 5) #set the value of a specific option, check pandas docs
print("Setup complete...")

Setup complete...

In [19]:
d = [[30 , 21]] # creating a 2d array with one row and two columnx
col = ["Apples", "Bananas"] # creating 1d array of column names
fruits = pd.DataFrame(data=d, columns=col)
fruits

   Apples  Bananas
0      30       21

In [21]:
# The second question [fruit_sales]
d = [[35, 21], [41, 34]]
rows = ["2017 Sales", "2018 Sales"]
col = ["Apples", "Bananas"]
fruit_sales = pd.DataFrame(data=d, columns=col, index=rows)
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [23]:
# The 3rd question [ingredients, pd.Series]

d = ["4 cups", "1 cup", "2 large", "1 can"]
rows = ["Flour", "Milk", "Eggs", "Spam"]
name = 'Diner'
ingredients = pd.Series(data=d, index=rows, name=name)
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Diner, dtype: object

In [24]:
# 4th question Skiped, no data available (csv file)
# but you can check the submitted notebook it has complete solution